nav{
    background-color: sandybrown;
    padding:7px;
    border: 2px solid #000;
    border-radius: 5%;
}
nav ul li{
    display: inline;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color:olive;
}
nav ul li a:hover{
    cursor: pointer;
}

h1{
    text-align: center;
}
iframe{
    display: block;
    margin-left: 5px;
    border: 5px solid saddlebrown;
    border-radius: 10px;
    width: 1500px;
    height: 550px;
}
#imgs{
    width: 18rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.food{
    background-color: white;
    text-align: center;
    font-size: 50px;
    border: #000 solid 3px;
    border-radius: 5px;
    padding: 10px;
}
table tr th{
    --size: 50px;
    color: rgb(255, 247, 0);
    font-size: var(--size);
    background-color: black;
}
table tr td{
    --size:50px;
    font-size: var(--size);
    background-color: peru;}
.tablo{
    background-color: none;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.iframee{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}